except 딕셔너리부분 조건문 잘못작성하여 추후 코드 작성시 수정 필요함.

1. import modules

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import time

2. load dataset

In [2]:
#yangjae = pd.read_excel('C:/Users/diana/EWHA/ml_project/dataset/231007_양재_raw.xlsx')
gangnam = pd.read_excel('C:/Users/diana/EWHA/ml_project/dataset/231008_강남_raw.xlsx')
#samsung = pd.read_excel('C:/Users/diana/EWHA/ml_project/dataset/231008_삼성_raw.xlsx')
sample_list = pd.read_excel('C:/Users/diana/EWHA/ml_project/dataset/음식리스트_샘플.xlsx')

In [3]:
sample_list.head()

,밥류,"쌀밥,기타잡곡밥,콩밥,보리밥,돌솥밥,현미밥,흑미밥,감자밥,곤드레밥,김치볶음밥,주먹밥,볶음밥,일반 비빔밥,전주비빔밥,삼선볶음밥,새우볶음밥,알밥,산채비빔밥,오므라이스,육회비빔밥,해물볶음밥,열무 비빔밥,불고기덮밥,소고기국밥,송이덮밥,오징어덮밥,자장밥,잡채밥,잡탕밥,장어덮밥,제육덮밥,짬뽕 밥,순대국밥,카레라이스,전주콩나물국밥,해물덮밥,회덮밥,소머리국밥,돼지국밥,하이라이스,김치김 밥,농어초밥,문어초밥,새우초밥,새우튀김롤,샐러드김밥,광어초밥,소고기김밥,갈비삼각김밥,연어롤, 연어초밥,유부초밥,장어초밥,참치김밥,참치마요삼각김밥,치즈김밥,캘리포니아롤,한치초밥,일반김밥"
0,"면, 만두류","간자장,굴짬뽕,기스면,김치라면,김치우동,김치말이국수,닭칼국수,들깨칼국수,떡라면,라면..."
1,"죽, 스프류","게살죽,깨죽,닭죽,소고기버섯죽,어죽,잣국,전복죽,참치죽,채소죽,팥죽,호박죽,콘스프,..."
2,"국, 탕, 찌개 류","굴국,김치국,달걀국,감자국,미역국,바지락조개국,소고기무국,소고기미역국,순대국,어묵국..."
3,찜류,"대구찜,도미찜,문어숙회,아귀찜,조기찜,참꼬막,해물찜,소갈비찜,돼지갈비찜,돼지고기수육..."
4,구이류,"닭갈비,닭꼬치,돼지갈비,떡갈비,불고기,소곱창구이,소양념갈비구이,소불고기,양념왕갈비,..."

In [4]:
sample_list.columns = ['카테고리', '세부사항']
sample_list_df = pd.DataFrame(sample_list)

sample_list_df.head()

         카테고리                                               세부사항
0      면, 만두류  간자장,굴짬뽕,기스면,김치라면,김치우동,김치말이국수,닭칼국수,들깨칼국수,떡라면,라면...
1      죽, 스프류  게살죽,깨죽,닭죽,소고기버섯죽,어죽,잣국,전복죽,참치죽,채소죽,팥죽,호박죽,콘스프,...
2  국, 탕, 찌개 류  굴국,김치국,달걀국,감자국,미역국,바지락조개국,소고기무국,소고기미역국,순대국,어묵국...
3          찜류  대구찜,도미찜,문어숙회,아귀찜,조기찜,참꼬막,해물찜,소갈비찜,돼지갈비찜,돼지고기수육...
4         구이류  닭갈비,닭꼬치,돼지갈비,떡갈비,불고기,소곱창구이,소양념갈비구이,소불고기,양념왕갈비,...

In [5]:
sample_list_df

          카테고리                                               세부사항
0       면, 만두류  간자장,굴짬뽕,기스면,김치라면,김치우동,김치말이국수,닭칼국수,들깨칼국수,떡라면,라면...
1       죽, 스프류  게살죽,깨죽,닭죽,소고기버섯죽,어죽,잣국,전복죽,참치죽,채소죽,팥죽,호박죽,콘스프,...
2   국, 탕, 찌개 류  굴국,김치국,달걀국,감자국,미역국,바지락조개국,소고기무국,소고기미역국,순대국,어묵국...
3           찜류  대구찜,도미찜,문어숙회,아귀찜,조기찜,참꼬막,해물찜,소갈비찜,돼지갈비찜,돼지고기수육...
4          구이류  닭갈비,닭꼬치,돼지갈비,떡갈비,불고기,소곱창구이,소양념갈비구이,소불고기,양념왕갈비,...
5       전, 부침류  가자미전,굴전,동태전,해물파전,동그랑땡,햄부침,육전,감자전,고추전,김치전,깻잎전,녹...
6          볶음류  건새우볶음,낙지볶음,멸치볶음,어묵볶음,오징어볶음,오징어채볶음,주꾸미볶음,해물볶음,감...
7          조림류  생선조림(가자미조림,갈치조림,고등어조림,꽁치조림,동태조림,북어조림,조기조림,코다리조...
8          튀김류  미꾸라지튀김,새우튀김,생선가스,쥐포튀김,오징어튀김,닭강정,닭튀김,돈가스,모래집튀김,...
9      나물, 무침류  노각무침,단무지무침,달래나물무침,더덕무침,도라지생채,도토리묵,마늘쫑무침,무생채,무말...
10         김치류  갓김치,고들빼기,깍두기,깻잎김치,나박김치,동치미,배추겉절이,배추김치,백김치,부추김치...
11   장아찌, 젓갈 류  간장게장,마늘쫑장아찌,고추장아찌,깻잎장아찌,마늘장아찌,무장아찌,양념게장,양파장아찌,...
12          회류                     생연어, 생선물회, 광어회, 훈제연어, 육회, 육사시미
13        디저트류                          푸딩, 빵, 떡, 케이크, 마카롱, 아이스크림

In [6]:
cols = list(sample_list_df.columns) # ['카테고리', '세부사항']
cat_list = list(sample_list_df['카테고리'].unique()) # 카테고리 요소들을 지닌 리스트
cat_list.append('밥류')
print(cat_list)

['면, 만두류', '죽, 스프류', '국, 탕, 찌개 류', '찜류', '구이류', '전, 부침류', '볶음류', '조림류', '튀김류', '나물, 무침류', '김치류', '장아찌, 젓갈 류', '회류', '디저트류', '밥류']

In [7]:
# 추가 포함용 키워드 정의
key_cats = ['면', '죽', '찌개', '찜', '구이', '전', '볶음', '조림', '튀김', '무침', '김치', '장아찌', '회', '디저트']

In [8]:
# 딕셔너리로 변환 (콤마(,) 기준 구분, 띄어쓰기 제거, outlier은 손수 고쳤음)
categories = list(sample_list_df['카테고리'])
dic = dict()

for (i, cat) in enumerate(categories):
    details = [item.strip() for item in sample_list_df.iloc[i]['세부사항'].split(',')]
    dic[cat] = details

lst = ['쌀밥,기타잡곡밥,콩밥,보리밥,돌솥밥,현미밥,흑미밥,감자밥,곤드레밥,김치볶음밥,주먹밥,볶음밥,일반 비빔밥,전주비빔밥,삼선볶음밥,새우볶음밥,알밥,산채비빔밥,오므라이스,육회비빔밥,해물볶음밥,열무 비빔밥,불고기덮밥,소고기국밥,송이덮밥,오징어덮밥,자장밥,잡채밥,잡탕밥,장어덮밥,제육덮밥,짬뽕 밥,순대국밥,카레라이스,전주콩나물국밥,해물덮밥,회덮밥,소머리국밥,돼지국밥,하이라이스,김치김 밥,농어초밥,문어초밥,새우초밥,새우튀김롤,샐러드김밥,광어초밥,소고기김밥,갈비삼각김밥,연어롤, 연어초밥,유부초밥,장어초밥,참치김밥,참치마요삼각김밥,치즈김밥,캘리포니아롤,한치초밥,일반김밥']
_details = [item.strip() for item in lst[0].split(',')]
dic['밥류'] = _details

print(dic)

{'면, 만두류': ['간자장', '굴짬뽕', '기스면', '김치라면', '김치우동', '김치말이국수', '닭칼국수', '들깨칼국수', '떡라면', '라면', '막국수', '메밀국수', '물냉면', '비빔국수', '비빔냉면', '삼선우동', '삼선자장면', '삼선짬뽕', '수제비', '쌀국수', '열무김치국수', '오일 소스스파게티', '일식우동', '볶음우동', '자장면', '잔치국수', '짬뽕', '짬뽕라면', '쫄면', '치즈라면', '콩국수', '크림소스 스파게티', '토마토소스스파게티', '해물칼국수', '회냉면', '떡국', '떡만둣국', '짜장라면', '고기만두', '군만두', '김치만두', '물만두', '만둣국'], '죽, 스프류': ['게살죽', '깨죽', '닭죽', '소고기버섯죽', '어죽', '잣국', '전복죽', '참치죽', '채소죽', '팥죽', '호박죽', '콘스프', '토마토스프'], '국, 탕, 찌개 류': ['굴국', '김치국', '달걀국', '감자국', '미역국', '바지락조개국', '소고기무국', '소고기미역국', '순대국', '어묵국', '오징어국', '토란국', '탕국', '홍합미역국', '황태해장국', '된장국(근대된장국', '미소된장국', '배추된장국)', '뼈다귀해장국', '선지해장국', '콩나물국', '시금치된장국', '시래기된장국', '쑥된장국', '아욱된장국', '우거지된장국', '우거지해장국', '우렁된장국', '갈비탕', '감자탕', '곰탕', '매운탕', '꼬리곰탕', '꽃게탕', '낙지탕', '내장탕', '닭곰탕', '닭볶음탕', '지리탕', '도가니탕', '삼계탕', '설렁탕', '알탕', '연포탕', '오리탕', '추어탕', '해물탕', '닭개장', '육개장', '뼈해장국', '미역오이냉국', '고등어찌개', '꽁치찌개', '동태찌개', '부대찌개', '된장찌개', '청국장찌개', '두부전골', '곱창전골', '소고기전골', '국수전골', '돼지고기김치찌개', '버섯찌개', '참치김치찌개', '순두부찌개', '콩비지찌개', '햄김치찌개', '호박찌개', '고추장찌개'], '찜류': ['대구찜', '도미찜', '문어숙회', '아귀찜', '조기찜', '참꼬막', '해물찜', '소갈비찜', '돼지갈비찜', '돼지고기수육', '찜닭', '족발', '달걀찜'], '구이류': ['닭갈비', '닭꼬치', '돼지갈비', '떡갈비', '불고기', '소곱창구이', '소양념갈비구이', '소불고기', '양념왕갈비', '햄버거스테이크', '훈제오리', '치킨데리야끼', '치킨윙', '더덕구이', '양배추구이', '두부구이', '삼치구이'], '전, 부침류': ['가자미전', '굴전', '동태전', '해물파전', '동그랑땡', '햄부침', '육전', '감자전', '고추전', '김치전', '깻잎전', '녹두빈대떡', '미나 리전', '배추전', '버섯전', '부추전', '야채전', '파전', '호박부침개', '호박전', '달걀말이', '두부부침', '두부전'], '볶음류': ['건새우볶음', '낙지볶음', '멸치볶음', '어묵볶음', '오징어볶음', '오징어채볶음', '주꾸미볶음', '해물볶음', '감자볶음', '김치볶음', '깻잎나물볶음', '느타리버섯볶음', '두부김치', '머위나물볶음', '양송이버섯볶음', '표고버섯볶음', '고추잡채', '호박볶음', '돼지고기볶음', '돼지껍데기볶음', '소세지볶음', '순대볶음', '오리불고기', '오삼불고기', '떡볶이', '라볶이', '마파두부'], '조림류': ['생선조림(가자미조림', '갈치조림', '고등어조림', '꽁치조림', '동태조림', '북어조림', '조기조림', '코다리조림)', '달걀장조림', '메추리알장조림', '돼지고기메추리알장조림', '소고기메추리알장조림', '고추조림', '감자조림', '우엉조림', '알감자조림', '(검은)콩조림', '콩조림', '두부고추장조림', '땅콩조림'], '튀김류': ['미꾸라지튀김', '새우튀김', '생선가스', '쥐포튀김', '오징어튀김', '닭강정', '닭튀김', '돈가스', '모래집튀김', '양념치킨', '치즈돈가스', '치킨가스', '탕수육', '깐풍기', '감자튀김', '고구마맛탕', '고구마튀김', '고추튀김', '김말이튀김', '채소튀김'], '나물, 무침류': ['노각무침', '단무지무침', '달래나물무침', '더덕무침', '도라지생채', '도토리묵', '마늘쫑무침', '무생채', '무말랭이', '오이 생채', '파무침', '상추겉절이', '쑥갓나물무침', '청포묵무침', '해파리냉채', '가지나물', '고사리나물', '도라지나물', '무나 물', '미나리나물', '숙주나물', '시금치나물', '취나물', '콩나물', '고구마줄기나물', '우거지나물무침', '골뱅이무침', '김무 침', '미역초무침', '북어채무침', '회무침', '쥐치채', '파래무침', '홍어무침', '골뱅이국수무침', '오징어무침', '잡채', '탕평채'], '김치류': ['갓김치', '고들빼기', '깍두기', '깻잎김치', '나박김치', '동치미', '배추겉절이', '배추김치', '백김치', '부추김치', '열무김치', '열무얼갈이김치', '오이소박이', '총각김치', '파김치'], '장아찌, 젓갈 류': ['간장게장', '마늘쫑장아찌', '고추장아찌', '깻잎장아찌', '마늘장아찌', '무장아찌', '양념게장', '양파장아찌', '오이지', '무 피클', '오이피클', '단무지', '오징어젓갈', '명란젓'], '회류': ['생연어', '생선물회', '광어회', '훈제연어', '육회', '육사시미'], '디저트류': ['푸딩', '빵', '떡', '케이크', '마카롱', '아이스크림'], '밥류': ['쌀밥', '기타잡곡밥', '콩밥', '보리밥', '돌솥밥', '현미밥', '흑미밥', '감자밥', '곤드레밥', '김치볶음밥', '주먹밥', '볶음밥', '일반 비빔밥', '전주비빔밥', '삼선볶음밥', '새우볶음밥', '알밥', '산채비빔밥', '오므라이스', '육회비빔밥', '해물볶음밥', '열무 비빔밥', '불고기덮밥', '소고기국밥', '송이덮밥', '오징어덮밥', '자장밥', '잡채밥', '잡탕밥', '장어덮밥', '제육덮밥', '짬뽕 밥', '순대국밥', '카레라이스', '전주콩나물국밥', '해물덮밥', '회덮밥', '소머리국밥', '돼지국밥', '하이라이스', '김치김 밥', '농어초밥', '문어초밥', '새우초밥', '새우튀김롤', '샐러드김밥', '광어초밥', '소고기김밥', '갈비삼각김밥', '연어롤', '연어초밥', '유부초밥', '장어초밥', '참치김밥', '참치마요삼각김밥', '치즈김밥', '캘리포니아롤', '한치초밥', '일반김밥']}

In [9]:
# 새로 담을 데이터프레임
new_df = pd.DataFrame(columns= ['Unnamed: 0','가게id','가게명','분류','별점','주소','전화번호','# 메뉴','메뉴명','이미지파일명','카테고리', '수정메뉴명'])

In [10]:
except_lst_gangnam = pd.DataFrame(columns= gangnam.columns) #세부사항에 없는 샘플들의 인덱스
gangnam_df = pd.DataFrame(gangnam)

cnt = 1
start_time = time.time()

for idx in tqdm(range(len(gangnam_df))):
    condition = False ## new_df에 들어갔는지 검사
    sample = gangnam_df.iloc[[idx]]
    sample_menu_name = gangnam.iloc[idx]['메뉴명']
    for cat_name in dic.keys():     
        for menu_name in dic[cat_name]:
            if menu_name in sample_menu_name:# sample_menu_name in menu_name: #음식리스트_샘플의 카테고리->디테일의 음식명을 포함하고 있으면 이에 삽입함. 
                condition = True ##
                sample = sample.copy()
                sample['카테고리'] = cat_name #cat_name
                sample['수정메뉴명'] = menu_name
                new_df = pd.concat([new_df, sample], ignore_index = True)
                cnt+=1
                break
                
    if condition is False: #안들어갔으면 추가
        except_lst_gangnam= pd.concat([except_lst_gangnam, sample], ignore_index = True)

end_time = time.time()
total_time = end_time - start_time
print(f"Total time taken: {total_time} seconds")

  0%|          | 0/131 [00:00<?, ?it/s]C:\Users\diana\AppData\Local\Temp\ipykernel_33700\2178592865.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  except_lst_samsung= pd.concat([except_lst_samsung, sample], ignore_index = True)
C:\Users\diana\AppData\Local\Temp\ipykernel_33700\2178592865.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  new_df = pd.concat([new_df, sample], ignore_index = True)
100%|██████████| 131/131 [00:00<00:00, 1468.06it/s]

Total time taken: 0.09918355941772461 seconds

In [11]:
len(gangnam_df), len(new_df), len(except_lst_gangnam)

(131, 28, 104)

In [12]:
except_lst_gangnam.head()

,Unnamed: 0,가게id,가게명,분류,별점,주소,전화번호,# 메뉴,메뉴명,이미지파일명
0,0,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,마제소바,3_마제소바.jpg
1,1,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,모리아와세카츠,3_모리아와세카츠.jpg
2,2,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,로스카츠 정식,3_로스카츠 정식.jpg
3,3,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,히레카츠 정식,3_히레카츠 정식.jpg
4,4,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,가츠산도,3_가츠산도.jpg

In [13]:
result_df = new_df.copy()
result_df.head()

,Unnamed: 0,가게id,가게명,분류,별점,주소,전화번호,# 메뉴,메뉴명,이미지파일명,카테고리,수정메뉴명
0,10,5,뽕나무쟁이 선릉본점,"족발,보쌈",4.41,서울 강남구 역삼로65길 31,NaN,4,모둠족발(중),5_모둠족발(중).jpg,찜류,족발
1,11,5,뽕나무쟁이 선릉본점,"족발,보쌈",4.41,서울 강남구 역삼로65길 31,NaN,4,족발(중),5_족발(중).jpg,찜류,족발
2,12,5,뽕나무쟁이 선릉본점,"족발,보쌈",4.41,서울 강남구 역삼로65길 31,NaN,4,양념족발(중),5_양념족발(중).jpg,찜류,족발
3,13,5,뽕나무쟁이 선릉본점,"족발,보쌈",4.41,서울 강남구 역삼로65길 31,NaN,4,쟁반막국수,5_쟁반막국수.jpg,"면, 만두류",막국수
4,16,7,Korea Bistro Beef 유케집,술집,NaN,서울 강남구 선릉로82길 47 1층 유케집,NaN,18,(당일도축)차돌박이 육회,7_(당일도축)차돌박이 육회.jpg,회류,육회

In [14]:
result_df['메뉴명'].unique(), result_df['메뉴명'].nunique()

(array(['모둠족발(중)', '족발(중)', '양념족발(중)', '쟁반막국수', '(당일도축)차돌박이 육회', '한우++ 육회',
        '한우++ 육회 비빔밥(점심)', '한우++ 육사시미', '육회 김밥', '새우튀김', '한우라면', '양푼이쫄면',
        '물쫄면', '해물순두부찌개', '차돌된장찌개', '볶음밥', '[점심특선] 순두부찌개 제육정식', '오므라이스',
        '육회비빔밥', '[NEW] 골뱅이무침', "수미'돈'곰탕", '시골 된장찌개', '크랩 쉬림프 파인애플 볶음밥',
        '스테이크 트러플 자장면', '마카롱 멘보샤(3P)', '더블 스테이크 트러플 자장면', '한우 암소차돌짬뽕'],
       dtype=object),
 27)

In [15]:
except_lst_gangnam['메뉴명'].unique(), except_lst_gangnam['메뉴명'].nunique()

(array(['마제소바', '모리아와세카츠', '로스카츠 정식', '히레카츠 정식', '가츠산도', '히레 가츠산도', '키마카레',
        '치즈 키마카레', '에비소바마끼', '광동식 오리구이, Half', '까르니따 따꼬', '초리소 따꼬',
        '(당일 도축) 뭉티기', '(당일 도축)차돌박이 삼합', '한우++ 타다끼', '성게알&단새우&감태', '성게알',
        '단새우회', '안키모', '타코와사비', '빅보이 칠리 스파게티', '씨푸드 잠발라야', '치킨 파마산 스파게티',
        '버터 매쉬드 포테이토', '팩맨 치킨 슬라이더', '트.머.치 스파게티', '치즈러버 스파게티',
        '자이언트 밋볼 스파게티', '루이지애나 더티라이스', '칠리 라이스', '에그인헬', '빽립플레이트',
        '애플소스 스테이크', '서던 후라이드 치킨', '치즈 프라이즈', '급냉오겹', '급냉목살', '눈꽃항정',
        '차돌박이', '대구소막창', '한방벌집껍데기', '차돌된장술국', '계란후라이', '모듬야채구이한접시',
        '로스카츠정식', '생선카츠정식', '히레카츠정식', '가츠나베정식', '부타가쿠니정식', '돈테키정식',
        '스키야키정식', '소고기 규동', '함박스테이크', '연어스테이크정식', '우나기동', '아보카도낫또동', '사케동',
        '사케도로롱', '한우청국장', '소갈비살', '카린지 런치메뉴', '[BEST] 경양식 돈까스',
        '[Signature] 소스카츠동', '[NEW] 냉우동', '코돈부르', '[Special] 김치카츠나베',
        '토마토카츠카레', '토마토카레', '카츠샌드', '린가네 디너메뉴', '[Signature] 오뎅모리',
        '[Signature] 칼몬드 파스타', '야끼소바', '돼지꼬랑지', "🥩수미'돈'한판",
        "🥩수미'삼겹살 (160g)", '수비드 오겹 스테이크 (190g)', "수미'돈'갈비찜(점심)",
        "🥩수미'목살 (160g)", "🥩수미'항정살 (140g)", "🥩수미'가브리살 (140g)", "수미'돈'까스",
        '수미 제육한상(점심)', "수미'돈'국밥", "수미'돈'뚝불", '사골 김치찌개', '냉면(후식)',
        '뽀라스 & 다크 초콜릿 소스', '뽀라스 & 레몬 크림 소스', '뽀라스 & 얼 그레이 크림 소스',
        '뽀라스 & 시나몬 슈거', '전복장육냉채', '투뿔 한우 트러플 난자완스(4P)', '칠리새우', '고추유린기',
        '투뿔한우 오향장육', '대파 유린기', '돌판 투뿔 한우 사천 짜장(2인분)', '한우 사천 마파면',
        '고흥 매생이 누룽지탕', '특제 한우탄탄면', 'PREMIUM COUPLE SET',
        'PREMIUM TRIPLE SET'], dtype=object),
 103)

In [16]:
result_df = result_df.drop('Unnamed: 0', axis=1) # Remove the 'Unnamed: 0' column

result_df.to_excel("C:/Users/diana/EWHA/ml_project/dataset/231025_강남_분류.xlsx", header=True, engine='openpyxl')

In [17]:
except_lst_gangnam.to_excel("C:/Users/diana/EWHA/ml_project/dataset/231025_강남_분류_제외.xlsx", header=True, engine='openpyxl')

In [18]:
except_lst_gangnam.head()

,Unnamed: 0,가게id,가게명,분류,별점,주소,전화번호,# 메뉴,메뉴명,이미지파일명
0,0,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,마제소바,3_마제소바.jpg
1,1,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,모리아와세카츠,3_모리아와세카츠.jpg
2,2,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,로스카츠 정식,3_로스카츠 정식.jpg
3,3,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,히레카츠 정식,3_히레카츠 정식.jpg
4,4,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,가츠산도,3_가츠산도.jpg
...,...,...,...,...,...,...,...,...,...,...
99,126,17,무탄 코엑스점,중식당,NaN,서울 강남구 영동대로 513 스타필드 코엑스 B1층 H121호,NaN,32,한우 사천 마파면,17_한우 사천 마파면.jpg
100,127,17,무탄 코엑스점,중식당,NaN,서울 강남구 영동대로 513 스타필드 코엑스 B1층 H121호,NaN,32,고흥 매생이 누룽지탕,17_고흥 매생이 누룽지탕.jpg
101,128,17,무탄 코엑스점,중식당,NaN,서울 강남구 영동대로 513 스타필드 코엑스 B1층 H121호,NaN,32,특제 한우탄탄면,17_특제 한우탄탄면.jpg
102,129,18,아그라 코엑스점,인도음식,NaN,서울 강남구 영동대로 513 (코엑스 지하1층 아이102호),NaN,2,PREMIUM COUPLE SET,18_PREMIUM COUPLE SET.jpg
103,130,18,아그라 코엑스점,인도음식,NaN,서울 강남구 영동대로 513 (코엑스 지하1층 아이102호),NaN,2,PREMIUM TRIPLE SET,18_PREMIUM TRIPLE SET.jpg

In [19]:
# 추가 포함용 키워드 정의
key_cats = ['면', '죽', '찌개', '찜', '구이', '전', '볶음', '조림', '튀김', '무침', '김치', '장아찌', '회', '디저트', '밥']

In [22]:
new_df2 = pd.DataFrame(columns= ['Unnamed: 0','가게id','가게명','분류','별점','주소','전화번호','# 메뉴','메뉴명','이미지파일명','카테고리', '수정메뉴명'])
still_except_lst_gangnam = pd.DataFrame(columns= except_lst_gangnam.columns) #세부사항에 없는 샘플들의 인덱스
#samsung_df = pd.DataFrame(samsung)

cnt = 1
start_time = time.time()

for idx in tqdm(range(len(except_lst_gangnam))):
    condition = False ## new_df2에 들어갔는지 검사
    sample = except_lst_gangnam.iloc[[idx]]
    sample_menu_name = except_lst_gangnam.iloc[[idx]]['메뉴명'][idx] ############3
    for (i, cat_name) in enumerate(dic.keys()):     
        for menu_name in dic[cat_name]:
            if key_cats[i] in sample_menu_name: ### 수정한 부분 ##########3
                condition = True ##
                sample = sample.copy()
                sample['카테고리'] = cat_name #cat_name
                sample['수정메뉴명'] = menu_name
                new_df2 = pd.concat([new_df2, sample], ignore_index = True)
                cnt+=1
                break 
                
    if condition is False: #안들어갔으면 추가
        still_except_lst_gangnam= pd.concat([still_except_lst_gangnam, sample], ignore_index = True)

end_time = time.time()
total_time = end_time - start_time
print(f"Total time taken: {total_time} seconds")

  0%|          | 0/104 [00:00<?, ?it/s]C:\Users\diana\AppData\Local\Temp\ipykernel_33700\1142658006.py:24: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  still_except_lst_samsung= pd.concat([still_except_lst_samsung, sample], ignore_index = True)
C:\Users\diana\AppData\Local\Temp\ipykernel_33700\1142658006.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  new_df2 = pd.concat([new_df2, sample], ignore_index = True)
100%|██████████| 104/104 [00:00<00:00, 1265.87it/s]

Total time taken: 0.08411598205566406 seconds

In [23]:
len(except_lst_gangnam), len(new_df2), len(still_except_lst_gangnam)

(104, 12, 93)

In [24]:
new_df2['메뉴명'].unique(), new_df2['메뉴명'].nunique()

(array(['광동식 오리구이, Half', '단새우회', '모듬야채구이한접시', '[Special] 김치카츠나베',
        "수미'돈'갈비찜(점심)", "수미'돈'국밥", '사골 김치찌개', '냉면(후식)', '전복장육냉채',
        '한우 사천 마파면', '특제 한우탄탄면'], dtype=object),
 11)

In [25]:
new_df2

,Unnamed: 0,가게id,가게명,분류,별점,주소,전화번호,# 메뉴,메뉴명,이미지파일명,카테고리,수정메뉴명
0,9,4,딤딤섬 파르나스몰점,중식당,4.32,서울 강남구 테헤란로 521 파르나스몰 지하 1층,NaN,38,"광동식 오리구이, Half","4_광동식 오리구이, Half.jpg",구이류,닭갈비
1,25,7,Korea Bistro Beef 유케집,술집,NaN,서울 강남구 선릉로82길 47 1층 유케집,NaN,18,단새우회,7_단새우회.jpg,회류,생연어
2,59,9,일로집 선릉점,"육류,고기요리",NaN,서울 강남구 선릉로82길 8 1층,NaN,17,모듬야채구이한접시,9_모듬야채구이한접시.jpg,구이류,닭갈비
3,84,12,카린지린가네스낵바 선릉점,일식당,NaN,서울 강남구 역삼로69길 27 1층,NaN,34,[Special] 김치카츠나베,12_[Special] 김치카츠나베.jpg,김치류,갓김치
4,98,15,수미돈,"육류,고기요리",4.91,서울 강남구 삼성로103길 12 1층,NaN,17,수미'돈'갈비찜(점심),15_수미'돈'갈비찜(점심).jpg,찜류,대구찜
5,104,15,수미돈,"육류,고기요리",4.91,서울 강남구 삼성로103길 12 1층,NaN,17,수미'돈'국밥,15_수미'돈'국밥.jpg,밥류,쌀밥
6,107,15,수미돈,"육류,고기요리",4.91,서울 강남구 삼성로103길 12 1층,NaN,17,사골 김치찌개,15_사골 김치찌개.jpg,"국, 탕, 찌개 류",굴국
7,107,15,수미돈,"육류,고기요리",4.91,서울 강남구 삼성로103길 12 1층,NaN,17,사골 김치찌개,15_사골 김치찌개.jpg,김치류,갓김치
8,109,15,수미돈,"육류,고기요리",4.91,서울 강남구 삼성로103길 12 1층,NaN,17,냉면(후식),15_냉면(후식).jpg,"면, 만두류",간자장
9,114,17,무탄 코엑스점,중식당,NaN,서울 강남구 영동대로 513 스타필드 코엑스 B1층 H121호,NaN,32,전복장육냉채,17_전복장육냉채.jpg,"전, 부침류",가자미전
10,126,17,무탄 코엑스점,중식당,NaN,서울 강남구 영동대로 513 스타필드 코엑스 B1층 H121호,NaN,32,한우 사천 마파면,17_한우 사천 마파면.jpg,"면, 만두류",간자장
11,128,17,무탄 코엑스점,중식당,NaN,서울 강남구 영동대로 513 스타필드 코엑스 B1층 H121호,NaN,32,특제 한우탄탄면,17_특제 한우탄탄면.jpg,"면, 만두류",간자장

In [26]:
still_except_lst_gangnam.tail()

,Unnamed: 0,가게id,가게명,분류,별점,주소,전화번호,# 메뉴,메뉴명,이미지파일명
0,0,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,마제소바,3_마제소바.jpg
1,1,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,모리아와세카츠,3_모리아와세카츠.jpg
2,2,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,로스카츠 정식,3_로스카츠 정식.jpg
3,3,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,히레카츠 정식,3_히레카츠 정식.jpg
4,4,3,부타이 1막,일식당,4.48,서울 강남구 테헤란로88길 22,NaN,9,가츠산도,3_가츠산도.jpg
...,...,...,...,...,...,...,...,...,...,...
88,124,17,무탄 코엑스점,중식당,NaN,서울 강남구 영동대로 513 스타필드 코엑스 B1층 H121호,NaN,32,대파 유린기,17_대파 유린기.jpg
89,125,17,무탄 코엑스점,중식당,NaN,서울 강남구 영동대로 513 스타필드 코엑스 B1층 H121호,NaN,32,돌판 투뿔 한우 사천 짜장(2인분),17_돌판 투뿔 한우 사천 짜장(2인분).jpg
90,127,17,무탄 코엑스점,중식당,NaN,서울 강남구 영동대로 513 스타필드 코엑스 B1층 H121호,NaN,32,고흥 매생이 누룽지탕,17_고흥 매생이 누룽지탕.jpg
91,129,18,아그라 코엑스점,인도음식,NaN,서울 강남구 영동대로 513 (코엑스 지하1층 아이102호),NaN,2,PREMIUM COUPLE SET,18_PREMIUM COUPLE SET.jpg
92,130,18,아그라 코엑스점,인도음식,NaN,서울 강남구 영동대로 513 (코엑스 지하1층 아이102호),NaN,2,PREMIUM TRIPLE SET,18_PREMIUM TRIPLE SET.jpg

In [27]:
result_df2 = new_df2.copy()
result_df2 = result_df2.drop('Unnamed: 0', axis=1) # Remove the 'Unnamed: 0' column

result_df2.to_excel("C:/Users/diana/EWHA/ml_project/dataset/231025_강남_분류_추가.xlsx", header=True, engine='openpyxl')
still_except_lst_gangnam.to_excel("C:/Users/diana/EWHA/ml_project/dataset/231025_강남_분류_추가후_제외.xlsx", header=True, engine='openpyxl')